<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>書籍登録一覧画面</title>
    </head>
    <body>
        <table>
            <tr th:each="book:${books}">
                <td th:text="${book.id}">100</td>
                <td th:text="${book.title}">タイトルA</td>
                <td th:text="${book.writer}">著者A</td>
                <td th:text="${book.publisher}">出版社A</td>
                <td th:text="${book.price}">100</td>
            </tr>
        </table>
    </body>
</html>